.forgot_passwod{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: white;
}
.amazon_logo{
    height: 31px;
    width: 103px;
    object-fit: contain;
    margin: 20px auto;
}

.forgot_passwod_form{
    width:400px;
    padding:20px 26px !important;
    border:1px solid #ddd;
    border-radius:4px;
}


label{
    font-size: 13px;
    font-weight: 700;
    padding: 0px 0px 0px 2px;
    margin-top: 10px;
}

.password{
    width: 100%;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    margin-bottom: 3px;
    line-height: normal;
    outline:none;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}
input:focus{
    /* box-shadow: 0px 0px 2px 2px orange; */
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.forgot_passwod_form> form > button{
    width: 100%!important;
    margin: 20px 0px;
    padding: 4px 6px;
    color:#111;
    background-color: #f0c14b;
    border:1.2px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
}

.forgot_passwod_form > small{
    margin: 20px 0px;
    font-size: 13px !important;
    /* line-height: 1.5 !important; */
}

.forgot_password_footer{
    width:400px;
}

.forgot_password_footer>h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.255;
    padding-bottom: 4px;
    margin-top: 10px;
}
.forgot_password_footer>small{
    padding: 0;
    margin: 0 0 14px 0;
}



