
/* -----------Orders--------------- */
.orders{
    padding: 20px  80px;

}

.orders>h1{
    margin: 30px 0px;
}




/*------------- Order ---------------*/
.order{
    padding:40px;
    margin:20px 0;
    border:1px solid lightgray;
    background-color: white;
    position: relative;
}

.order_id{
    position: absolute;
    top: 44px;
    right:20px;
}

.order_total{
    font-size:20px;
    font-weight:500;
    text-align: right;
}