
/*--------------------Signup----------------------*/
.signup_page{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: white;
}
.signup_logo{
    height: 31px;
    width: 103px;
    object-fit: contain;
    margin: 20px auto;
}

.signup_form{
    width:400px;
    padding:20px 26px !important;
    border:1px solid #ddd;
    border-radius:4px;
}

h1{
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px!important;
}

label{
    font-size: 13px;
    font-weight: 700;
    padding: 0px 0px 0px 2px;
}

.name,.email,.password,.re_enter_password{
    width: 100%;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    margin-bottom: 3px;
    line-height: normal;
    outline:none;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}
.password,.re_enter_password{
    font-size:13px;
}
input:focus{
    /* box-shadow: 0px 0px 2px 2px orange; */
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.signup_form> form > button{
    width: 100%!important;
    margin: 20px 0px;
    padding: 4px 6px;
    color:#111;
    background-color: #f0c14b;
    border:1.2px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
}

.signup_form> form >small{
    margin: 20px 0px;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

.signup_form> form > Link > small{
    font-size: 10px;
    line-height: 19px;
}

.login:hover{
    color:#e77600;
    border-bottom: 1px solid #e77600;
}

.terms{
    margin-bottom: 20px;
}

.signup_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}